SECRET_KEY=replace-with-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

AI_API_KEY=
MARKET_API_KEY=
IPO_API_KEY=fna_live_3b7bd006a43344ec-fc10dd6db91151457f89049d80e9a3f68b5cd3d2d3bbf1d9
VIDEO_API_KEY=
DATABASE_URL=